workflow.json
{
  "name": "Fluxo de Entrevistas",
  "nodes": [
    {
      "parameters": {
        "content": "## Trigger = gatilho"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        96
      ],
      "typeVersion": 1,
      "id": "e2846226-36ac-4a28-84df-cc2730910008",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Node = Nó da Ação"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        448
      ],
      "typeVersion": 1,
      "id": "80e90a10-5d7c-4f04-ac5a-70a80249d5a7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "46f287ed-e71c-4990-a69d-bafd0a5cd7f6",
              "leftValue": "={{ $json['Pretensão Salarial'] }}",
              "rightValue": 5000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        288
      ],
      "id": "e68b4b20-fe31-4414-bba1-6058ac0b4688",
      "name": "If"
    },
    {
      "parameters": {
        "formTitle": "Contratação Obra Primaria",
        "formDescription": "Realize a aplicação no formulário abaixo, e aguarde o nosso contato",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome Completo",
              "placeholder": "Digite seu nome...",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Cargo",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Programador"
                  },
                  {
                    "option": "Social Media"
                  },
                  {
                    "option": "Editor de Vídeo"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Pretensão Salarial",
              "fieldType": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        256,
        288
      ],
      "id": "0352d23c-15b9-47e1-86ff-0b014b22c3d9",
      "name": "Quando receber candidatura",
      "webhookId": "3c2629ad-3a96-4fc9-a3b4-daf2e2e9b66e"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Obrigado pelo interesse",
        "emailType": "text",
        "message": "=Olá {{ $json['Nome Completo'] }},\n\nInfelizmente seu salário é incompatível com a vaga.\n\nMuito obrigado por se candidatar.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        672,
        192
      ],
      "id": "161ffe71-8d77-41a0-87c5-18f727fef56b",
      "name": "Salario alto email",
      "webhookId": "e2bfcc9b-50ec-4a15-b558-12231cd44e97",
      "credentials": {
        "gmailOAuth2": {
          "id": "h9nEpaoTQbzf1tuO",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Cargo }}",
                    "rightValue": "Programador",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "27bafde1-242e-46dd-bfec-5467428a1de8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Dev"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50b89216-03a2-4f87-acc7-b72548bf3324",
                    "leftValue": "={{ $json.Cargo }}",
                    "rightValue": "Social Media",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e1c2cacf-3ee5-4534-a6d8-cc6c9846aef3",
                    "leftValue": "={{ $json.Cargo }}",
                    "rightValue": "Editor de Vídeo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Editor"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        880,
        384
      ],
      "id": "7b0940a6-7be0-474a-af78-484c3e686dae",
      "name": "Verifica cargo"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1D1kDxEbWOrkvdSHKslqaNd_2M-qbi_Ru2D787kiZaVo",
          "mode": "list",
          "cachedResultName": "Saulo planilha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D1kDxEbWOrkvdSHKslqaNd_2M-qbi_Ru2D787kiZaVo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D1kDxEbWOrkvdSHKslqaNd_2M-qbi_Ru2D787kiZaVo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ $('Quando receber candidatura').item.json['Nome Completo'] }}",
            "Email": "={{ $('Quando receber candidatura').item.json.Email }}",
            "Cargo": "={{ $('Quando receber candidatura').item.json.Cargo }}",
            "Pretensão": "={{ $('Quando receber candidatura').item.json['Pretensão Salarial'] }}",
            "Data Cadastro": "={{ $now.format('dd/MM/yyyy') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cargo",
              "displayName": "Cargo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pretensão",
              "displayName": "Pretensão",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Cadastro",
              "displayName": "Data Cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Entrevista",
              "displayName": "Entrevista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        672,
        384
      ],
      "id": "661184a0-4260-4587-9f84-8da34a196ffa",
      "name": "Cadastrar usuario",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j1UfgW8Y4PgyHwwG",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Atualização para vaga de {{ $json.Cargo }}",
        "emailType": "text",
        "message": "=Olá {{ $json.Nome }},\n\nEm breve entraremos em contato para a vaga de {{ $json.Cargo }}\n\nAqui trabalhamos com HTML e CSS\n\nObrigado pelo interesse",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1184,
        192
      ],
      "id": "3b6c8e92-847e-4fbe-9571-6c0597d405c7",
      "name": "Email para Dev",
      "webhookId": "e2bfcc9b-50ec-4a15-b558-12231cd44e97",
      "credentials": {
        "gmailOAuth2": {
          "id": "h9nEpaoTQbzf1tuO",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Atualização para vaga de {{ $json.Cargo }}",
        "emailType": "text",
        "message": "=Olá {{ $json.Nome }},\n\nEm breve entraremos em contato para a vaga de {{ $json.Cargo }}\n\nPeço que você estude nossas redes sociais antes da entrevista\n\nObrigado pelo interesse",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1184,
        384
      ],
      "id": "de69573b-3d3f-4a66-9adb-22cbcee4d596",
      "name": "Email para SM",
      "webhookId": "e2bfcc9b-50ec-4a15-b558-12231cd44e97",
      "credentials": {
        "gmailOAuth2": {
          "id": "h9nEpaoTQbzf1tuO",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Atualização para vaga de {{ $json.Cargo }}",
        "emailType": "text",
        "message": "=Olá {{ $json.Nome }},\n\nEm breve entraremos em contato para a vaga de {{ $json.Cargo }}\n\nUtilizamos OBS Studio para gravar, e KDE para editar\n\nObrigado pelo interesse",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1184,
        576
      ],
      "id": "aa47da99-6ede-4962-b375-e0682e47d001",
      "name": "Email para Editor",
      "webhookId": "e2bfcc9b-50ec-4a15-b558-12231cd44e97",
      "credentials": {
        "gmailOAuth2": {
          "id": "h9nEpaoTQbzf1tuO",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1536,
        352
      ],
      "id": "a007ceea-d9a7-4827-9293-acb7d399f183",
      "name": "Uniao do Fluxo"
    },
    {
      "parameters": {
        "sendTo": "=saulo.jsx@gmail.com",
        "subject": "=Novo candidato",
        "emailType": "text",
        "message": "=Olá, \n\nUm novo candidato foi adicionado\n\nPara a vaga de {{ $('Quando receber candidatura').item.json.Cargo }}\n\nPor favor, analise o candidato e dê o feedback para prosseguir ou não para a entrevista\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1728,
        352
      ],
      "id": "b6148ea6-db5b-4ffc-8a9e-0b0f68ccc321",
      "name": "Email Gestor da Vaga",
      "webhookId": "e2bfcc9b-50ec-4a15-b558-12231cd44e97",
      "credentials": {
        "gmailOAuth2": {
          "id": "h9nEpaoTQbzf1tuO",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3fc1807-c71b-4f17-933d-f749d5ede54d",
              "leftValue": "={{ $('Quando receber candidatura').item.json['Pretensão Salarial'] }}",
              "rightValue": 4000,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "044f4db3-d4a3-45f1-859b-2d269ba2b755",
              "leftValue": "5",
              "rightValue": "5",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1408,
        176
      ],
      "id": "52b9d255-6c28-4727-8fcc-d54e84469d3a",
      "name": "Filtro de salario",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "saulo.node@gmail.com",
          "mode": "list",
          "cachedResultName": "saulo.node@gmail.com"
        },
        "additionalFields": {
          "attendees": [
            "={{ $('Quando receber candidatura').item.json.Email }}"
          ],
          "summary": "=Entrevista Obra Primária x  {{ $('Quando receber candidatura').item.json.Cargo }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1616,
        176
      ],
      "id": "fdd0544a-9404-48bf-b565-cb39c82582a1",
      "name": "Agendar Entrevista",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "hoQC0jzwCM1Hl5i5",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1D1kDxEbWOrkvdSHKslqaNd_2M-qbi_Ru2D787kiZaVo",
          "mode": "list",
          "cachedResultName": "Saulo planilha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D1kDxEbWOrkvdSHKslqaNd_2M-qbi_Ru2D787kiZaVo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D1kDxEbWOrkvdSHKslqaNd_2M-qbi_Ru2D787kiZaVo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Quando receber candidatura').item.json.Email }}",
            "Entrevista": "={{ $json.htmlLink }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cargo",
              "displayName": "Cargo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pretensão",
              "displayName": "Pretensão",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Cadastro",
              "displayName": "Data Cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Entrevista",
              "displayName": "Entrevista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1824,
        192
      ],
      "id": "1f424f0d-7440-4481-8202-a4605bdfe971",
      "name": "Colocar link entrevista",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j1UfgW8Y4PgyHwwG",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=saulo.jsx@gmail.com",
        "subject": "=Entrevista Obra Primária x {{ $('Quando receber candidatura').item.json['Nome Completo'] }}",
        "emailType": "text",
        "message": "=Olá, \n\nA entrevista está agendada para: {{ $('Agendar Entrevista').item.json.start.dateTime }}\n\nO link do Agendamento é: {{ $('Agendar Entrevista').item.json.htmlLink }}",
        "options": {
          "appendAttribution": false,
          "ccList": "={{ $('Quando receber candidatura').item.json.Email }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2048,
        192
      ],
      "id": "df2206f0-6daf-4c45-a1cd-687fdbf46984",
      "name": "Email Entrevista",
      "webhookId": "e2bfcc9b-50ec-4a15-b558-12231cd44e97",
      "credentials": {
        "gmailOAuth2": {
          "id": "h9nEpaoTQbzf1tuO",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {
    "Quando receber candidatura": [
      {
        "json": {
          "Nome Completo": "Saulo Moreira Sebastião",
          "Email": "saulo.node@gmail.com",
          "Cargo": "Programador",
          "Pretensão Salarial": 3000,
          "submittedAt": "2025-07-18T11:41:37.576-03:00",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Quando receber candidatura": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Salario alto email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar usuario": {
      "main": [
        [
          {
            "node": "Verifica cargo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica cargo": {
      "main": [
        [
          {
            "node": "Email para Dev",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email para SM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email para Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email para SM": {
      "main": [
        [
          {
            "node": "Uniao do Fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email para Dev": {
      "main": [
        [
          {
            "node": "Filtro de salario",
            "type": "main",
            "index": 0
          },
          {
            "node": "Uniao do Fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email para Editor": {
      "main": [
        [
          {
            "node": "Uniao do Fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uniao do Fluxo": {
      "main": [
        [
          {
            "node": "Email Gestor da Vaga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro de salario": {
      "main": [
        [
          {
            "node": "Agendar Entrevista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Entrevista": {
      "main": [
        [
          {
            "node": "Colocar link entrevista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar link entrevista": {
      "main": [
        [
          {
            "node": "Email Entrevista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8c36ac43-2d21-4af7-9b26-b235f7076d26",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6c206d3acebea4efb91dbdccf11441bc3edf6e53b0979aba5c708b15d5320806"
  },
  "id": "a80YxzrP4mIajoxp",
  "tags": [
    {
      "createdAt": "2025-07-17T21:20:06.907Z",
      "updatedAt": "2025-07-17T21:20:06.907Z",
      "id": "KH2jgbVafshDZCx2",
      "name": "fluxo"
    }
  ]
}